<h4 class="group-join">Add Members to:</h4>

<div id="invite-message"></div>
<div class="input-field">
	<%= form_for @invite, :html => {:id => "invite-form"} do |f| %>
		<% if current_user.groups.length > 1 %>
			<% group = f.collection_select(:group_id, current_user.groups, :id, :name, {}, class: "browser-default") %>
			<div><%= group %></div>
		<% else %>
			<%= f.hidden_field :group_id,  value: current_user.groups.first.id %>
		<% end %>

		<%= f.text_field :invitee, placeholder: "enter a member's email"  %>
		<%= f.submit "invite"%>
	<% end %>
</div>