<% publish_to conversation_path(@message.conversation) do %>

  var messagesContainer = $(".messages-container");

  var thisChatter = "<div class='this-chatter'><img class='chat-img' src='<%=@message.sender.image%>' alt='<%=@message.sender.initials%>'/><div class='chip'><%=@message.content%></div></div>";

  var otherChatter = "<div class='other-chatter'><div class='chip'><%=@message.content%></div><img class='chat-img' src='<%=@message.sender.image%>' alt='<%=@message.sender.initials%>'/></div>";

  var chatter = $("#chatter_<%=@message.sender.id%>").clone();
  chatter.children('.chip').html("<%=@message.content%>")

  messagesContainer.append(chatter);

  $(".materialize-textarea").val("");

  $(".messages-container").animate({ scrollTop: $('.messages-container')[0].scrollHeight}, 1000);
<% end %>
