<% provide(:title, '| Assign a Task') %>

<%=@task.task%>

<%= form_for @assignment do |f| %>
	<div><%= f.hidden_field :task_id,  value: @task.id %></div>
	<div><%= f.text_area :assignee_id %></div>
    <%= f.submit "create" %>
<% end %>