<h4><%=@task.task%></h4>



	<br />
	<% if @task.assignments.length < @task.group.users.length%>
		<%= render partial: '/assignments/new'%>
	<%end%>	

	<% if @task.assignments.length > 0 %>
		<% @task.assignments.each do |assignment| %>
			<div> <p> Assigned to <%= assignment.assignee.name%> by <%= assignment.assigner.name%></p></div>
		<%end%>
	<%end%>

	<br />
	<%= render partial: '/completions/new' %>

	<% @task.assignments.each do |t| %>
		<div><%= t.assignee.email %> has been assigned to this task on <%= long_form_date(t.created_at) %>.</div>
	<% end %>
	

	<br/>


