<h4><%=@task.task%></h4>

Assigned Tasks:


	<br />
	<%= render partial: '/assignments/new'%>
	<br />
	<%= render partial: '/completions/new' %>

	<% @task.assignments.each do |t| %>
		<div><%= t.assignee.email %> has been assigned to this task on <%= long_form_date(t.created_at) %>.</div>
	<% end %>
	

	<br/>


