<div class="container">
<%= render partial: '/completions/new' %>
<h4><%=@task.task%></h4>

<<<<<<< 3b2906911fac164dc0a43cf68dcc5a8555b2a4a0
=======
<div class="task-completed"></div>


>>>>>>> working on task completion javascript
	<br />
	<% if @task.assignments.length < @task.group.users.length%>
		<%= render partial: '/assignments/new'%>
	<%end%>	
    <div id="assignments_container">
		<% if @task.assignments.length > 0 %>
			<% @task.assignments.each do |assignment| %>
				<div class="col s12 m6">
					<div class="card teal lighten-3">
				    	<div class="card-content white-text">
					    	<p><i class="material-icons announcement">assignment</i> Assigned to <%= assignment.assignee.name%> by <%= assignment.assigner.name%></p>
					    	<p> on: <%= long_form_date(assignment.created_at) %></p>
			 			</div>
			 		</div>
				</div>
			<%end%>
		<%end%>
	</div>
	<br />
</div>


