<div class="container">
    <div class="container">
      <h3 class="sign-text">Log in:</h3>

      <%= form_for(@user, url: user_session_path(@user)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, 
                            :'data-error' => "wrong", 
                            :"data-success" => "right"  %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <a class="waves-effect waves-light btn"><%= f.submit "Log in" %></a>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
  </div>
</div>