<div class="messages-container">
  <%= render @messages if @messages %>
</div>

<div class="messages-input-container">
  <%= form_for @conversation, remote: true do |f| %>
    <%= f.fields_for :messages do |m_f| %>
      <%= m_f.text_area :content %>
    <%= f.submit "send"%>
  <% end %>
</div>

<%= subscribe_to conversation_path(@conversation) %>
