<div id="chat-box">
  <div id="messages-container">
  <%= link_to "Add a Member", %>
    <% if @messages %>
      <% @messages.each do |message| %>
        <% if message.sender == current_user %>
        <div class="this-chatter">
          <img class="chat-img" src="<%=message.sender.image%>" alt="<%=message.sender.initials%>"/>
          <span class="chip">
            <%= message.content %>
          </span>
        </div>
        <% else %>
          <div class="other-chatter">
            <img class="chat-img" src="<%=message.sender.image%>" alt="<%=message.sender.initials%>"/>
            <span class="chip">
              <%= message.content %>
            </span>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <div class="input-container">
    <%= form_for [@conversation, Message.new], remote: true do |f| %>
        <%= f.text_area :content, class: "message-input" %>
        <%= f.hidden_field :conversation_id, value: @conversation.id %>
        <button class="waves-effect waves-light btn chat-button">
          <%= f.submit "send" %>
        </button>
    <% end %>
  </div>
</div>

<%= subscribe_to conversation_path(@conversation) %>
