<p id="notice"><%= notice %></p>

<%= link_to @conversation.group.name, group_path(@conversation.group) %> |
<%= link_to 'Back', conversations_path %>

<div class="chatboxcontent">
    <%= render @messages if @messages %>
</div>

<div class="chatboxinput">
    <%= form_for([@conversation, @message], remote: true, url: messages_path(@message)) do |f| %>
    <%= f.text_area :content, class:"chatboxtextarea",
       "data-cid" => @conversation.id %>
    <div class="chat-form-btns">
      <%= f.submit "send", class: "btn btn-
         primary btn-sm btn-submit"%>
      <%= f.submit "New Title!", class: "btn btn-
         success btn-sm btn-new-title"%>
    </div>
  <% end %>
</div>

<%= subscribe_to conversation_path(@conversation) %>
