<div id="chat-box">
  <div id="messages-container">
    <% if @messages %>
      <% @messages.each do |message| %>
        <% if message.sender == current_user %>
          <div class="chip this-chatter">
            <img class="image" src="<%=message.sender.image if message.sender.image%>"/>
            <span class="name"><%= message.sender.name %>:</span>
            <span class="content"><%= message.content %></span>
          </div>
        <% else %>
          <div class="chip other-chatter">
            <%= message.content %>
            : <%= message.sender.name %>
            <img src="<%=message.sender.image%>" alt="Sender">
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <div class="input-container">
    <%= form_for [@conversation, Message.new], remote: true do |f| %>
        <%= f.text_area :content, class: "message-input" %>
        <%= f.hidden_field :conversation_id, value: @conversation.id %>
        <button class="waves-effect waves-light btn chat-button">
          <%= f.submit "send" %>
        </button>
    <% end %>
  </div>
</div>

<%= subscribe_to conversation_path(@conversation) %>

