<div class="row">
  <div class="col s12">

    <div class="row messages-container">
      <% if @messages %>
        <% @messages.each do |message| %>
          <% if message.from current_user %>

            <div class="this-chatter" id="chatter_<%=message.sender.id%>">
              <img class="chat-img" src="<%=message.sender.image%>" alt="<%=message.sender.initials%>"/>
              <div class="chip">
                <%= message.content %>
              </div>
            </div>

          <% else %>

            <div class="other-chatter" id="chatter_<%=message.sender.id%>">
              <img class="chat-img" src="<%=message.sender.image%>" alt="<%=message.sender.initials%>"/>
              <div class="chip">
                <%= message.content %>
              </div>
            </div>

          <% end %>
        <% end %>
      <% end %>
    </div>


    <div class="input-field col s12 message-form">
      <%= form_for [@conversation, Message.new], remote: true do |f| %>
        <%= f.text_area :content, class:"materialize-textarea message-input" %>
        <%= f.label "Say something:", id:'content' %>
        <%= f.hidden_field :conversation_id, value: @conversation.id %>
        <button class="waves-effect waves-light btn chat-button red lighten-2 right">
          <%= f.submit "send" %>
        </button>
      <% end %>
    </div>

  </div>
</div>

<%= subscribe_to conversation_path(@conversation) %>
