<div class="container">
	<div>
		<h4 class="center-align group-name"><%= @group.name %></h4>
	</div>

	<% if @group.tasks.length > 1 %>
	  <div id="container" style="width:100%; height:350px;" data-chart-info="<%= @data_for_chart.to_json %>"></div>
	<%end%>
	<div class="see-members">
	<%= link_to "Members", members_path(@group) %>	
	</div>
	<div id="group-members"></div>
	<div class="row">
		<ul class="collection">
				<% @group.activity.each do |event| %>
				<li class="collection-item avatar">
					<img src="<%=user(event).image%>" class="circle" style="height:3.5em;width:3.5em;"/>
						<%= link_to user(event).name, user_path(user(event)) if user(event) %>

						<%= verb(event) if verb(event) %>

						<%= link_to direct_task(event).task, task_path(event) if direct_task(event) %>

						<%= link_to direct_user(event).name, user_path(event) if direct_user(event) %>

						<%= preposition(event) if preposition(event) %>

						<%= link_to indirect_user(event).name, user_path(event) if indirect_user(event) %>
				</li>
				<% end %>
		</ul>
	</div>
</div>
