<h1> <%= @group.name %></h1>

<div>
	<ul>
	<% @members.each do |member| %>
		<li><%= link_to member.email, user_path(member) %> |
			<%= link_to "remove", membership_path(group: @group, user: member),
								  method: :delete,
								  data: { confirm: 'Still want to delete a member?'} %>
								  </li>
	<% end %>
	</ul>
</div>

<div>
<ul>
	<%@group.tasks.each do |task|%>
		<li><%=link_to task.task, task_path(task.id) %>
			| <%= link_to "assign", task_path(task) %>
			| <%= link_to "delete", task_path(task), 
									method: :delete, 
									data: { 
										confirm: 'Sure you want to delete a task?'}  %>

		</li>
	<%end%>
</ul>
</div>

<div>
<h3>Tasks:</h3>
    <%= render partial: '/tasks/new' %>
</div>