<body>
  <h4>Hello, <%= @user.name %></h4>
<<<<<<< 7f9b559056d68d10c970a9673144ef07c5ce6e9e
  
    <div class="row">
      <div class=""hide-on-small-only"">
        <div class="col s4">
        </div>
            <div class="card blue-grey lighten-5">
            <div class="card-content black-text">
              <span class="card-title">Pending Invitations:</span>
            </div>
            <div class="card-action">
              <% @user.invites_received.each do |invite| %>
                <%= link_to invite.group.name, invite.group%>
                <%= form_tag(accept_path, method: "post") do %>
                  <%= hidden_field_tag :group_id, invite.group.id %>
                  <%= submit_tag "accept" %>
                <% end %> 
              <% end %>
           </div>  
          </div>
        </div>
      </div>


=======
    <p>Pending Invitations: </p>
          <% @user.invites_received.each do |invite| %>
            <%= link_to group.name, group%>
            <%= form_tag(accept_path, method: "post") do %>
            <%= hidden_field_tag :group_id, invite.group.id %>
            <%= submit_tag "accept" %>
          <% end %>
        <% end %>
>>>>>>> finish chat functionality

    <div class="row">
        <div class=""hide-on-small-only"">
          <div class="col s4">
        </div>
          <div class="card blue-grey lighten-5">
            <div class="card-content black-text">
              <span class="card-title">Groups:</span>
            </div>
            <div class="card-action">
              <% @groups.each do |group| %>
                <div><%= link_to group.name, group_path(group) %></div>
            <% end %>
          </div>
        </div>
      </div>

      <div class=""hide-on-small-only"">
          <div class="col s4">
        </div>
        <div class="card blue-grey lighten-5">
          <div class="card-content black-text">
            <span class="card-title">Tasks:</span>
          </div>
          <div class="card-action">
            <% @tasks.each do |task| %>
              <div><i class="fa fa-square-o check-box" aria-hidden="true"></i><%= link_to task.task, group_path(task.group_id) %></div>
            <% end %>
          </div>
        </div>
      </div>

      <div class=""hide-on-small-only"">
          <div class="col s4">
        </div>
        <div class="card blue-grey lighten-5">
          <div class="card-content black-text">
            <span class="card-title">Complete:</span>
          </div>
          <div class="card-action">
            <% @completed_tasks.each do |task| %>
              <div><i class="fa fa-check-square" aria-hidden="true"></i><%= link_to task.task, group_path(task.group_id) %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

</body>
