<body>
  <h3>Hello, <%= @user.name %></h3>

    <div class="row">
        <div class="col s4">
          <div class="card blue-grey lighten-5">
            <div class="card-content black-text">
              <span class="card-title">Groups</span>
            </div>
            <div class="card-action">
              <% @groups.each do |group| %>
                <div><%= link_to group.name, group_path(group) %></div>
            <% end %>
          </div>
        </div>

        <p>Pending Invitations: </p>
          <% @user.invites_received.each do |invite| %>
            <% group = Group.find(invite.group_id)%> <!--  refactor to create another association, group has many invites -->
              <%= link_to group.name, group%>
              <%= form_tag(accept_path, method: "post") do %>
              <%= hidden_field_tag :group_id, group.id %>
            <%= submit_tag "accept" %>
          <% end %> 
        <% end %>
        </div>

        <div class="col s4">
          <div class="card blue-grey lighten-5">
            <div class="card-content black-text">
              <span class="card-title">Tasks:</span>
            </div>
            <div class="card-action">
              <% @tasks.each do |task| %>
                <div><i class="fa fa-square-o check-box" aria-hidden="true"></i><%= link_to task.task, group_path(task.group_id) %></div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col s4">
          <div class="card blue-grey lighten-5">
            <div class="card-content black-text">
              <span class="card-title">Complete:</span>
            </div>
            <div class="card-action">
              <% @completed_tasks.each do |task| %>
                <div><i class="fa fa-check-square" aria-hidden="true"></i><%= link_to task.task, group_path(task.group_id) %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

</body>