<% if current_user %>
  <div class="profile-pic">
    <img src="<%=current_user.image%>", class="circle"/>
  </div>
<% end %>

<% current_user.invites_received.each do |invite| %>
    <div class="col s12 m6">
      <div class="card blue-grey lighten-5">
        <div class="card-content blue-text">
                  <%= form_tag(accept_path, method: "post") do %>
                  <%= hidden_field_tag :group_id, invite.group.id %>
                  <%= submit_tag "thumb_up", class:"material-icons thumb_up" %>
          Join: <%= link_to invite.group.name, group_path(invite.group.id) %>
                <% end %>
        </div>
      </div>
    </div>
<% end %>

<% current_user.incomplete_assigned_tasks.each do |task| %>
  <div class="col s12 m6">
    <div class="card teal lighten-3">
      <div class="card-content blue-text">
      <i class="material-icons announcement">mode_edit</i> 
          <%= link_to task.task, task_path(task.id), class: "user-profile" %>
      </div>
    </div>
  </div>
<% end %>

<% current_user.high_priority.each do |task| %>
  <div class="col s12 m6">
    <div class="card red accent-1">
      <div class="card-content white-text">
      <i class="material-icons schedule">schedule</i>
          <%= link_to task.task, task_path(task.id), class: "user-profile" %>
      </div>
    </div>
  </div> 
<% end %> 

<% current_user.med_priority.each do |task| %>
  <div class="col s12 m6">
    <div class="card deep-orange lighten-2">
      <div class="card-content white-text">
      <i class="material-icons schedule">schedule</i>
          <%= link_to task.task, task_path(task.id), class: "user-profile" %>
      </div>
    </div>
  </div> 
<% end %> 

<% current_user.low_priority.each do |task| %>
  <div class="col s12 m6">
    <div class="card amber lighten-2">
      <div class="card-content white-text">
      <i class="material-icons schedule">schedule</i>
          <%= link_to task.task, task_path(task.id), class: "user-profile" %>
      </div>
    </div>
  </div> 
<% end %> 
