<nav class="nav-wrapper">
  <ul id="slide-out" class="side-nav">
    <li><%= link_to "Your Groups", user_groups_path%></li>
    <li><%= link_to "Create a New Group", new_group_path %></li>
    <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
  </ul>

  <ul id="group-chat-drop" class="dropdown-content">
    <%if current_user%>
      <%current_user.groups.each do |group| %>
      <li><%= link_to group.name, conversation_path(group.conversation) %></li>
      <%end%>
    <%end%>
  </ul>

    <% if current_user %>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="nav-mobile">

          <a data-activates="slide-out" class="button-collapse">
          <i class="mdi-navigation-menu material-icons">reorder</i></a>

            <li><a href="/users/<%=current_user.id%>">
                <i class="material-icons">message</i>
                </a>
            </li>

            <li><a href="/groups/<%=current_user.groups.first.id %>">
                <i class="material-icons">supervisor_account</i>
                </a>
            </li>
            <li><a href="/users/<%=current_user.id%>">
                <i class="material-icons">assignment_ind</i>
                </a>
            </li>
        <% else %>
          <div class="hide-on-large-only">
            <li class="brand-logo">TaskMate</li>
          </div>
          <div class="hide-on-small-only">
            <div class="center-align">
              <li class="brand-logo logo-position">TaskMate</li>
            </div>
          </div>
        <% end %>
      </ul>
  </nav>
