<!DOCTYPE html>
<html>
<head>
  <title>TaskMate</title>
   <!-- Set the viewport: -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Hide browser interface: -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- Configure the status bar: -->
   <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:700|Lato:400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul id="user-groups" class="dropdown-content">
  <% if current_user %>
    <%current_user.groups.each do |group|%>
      <li class="drop-down-links"><%=link_to group.name, group_path(group)%></li>
      <li class="divider"></li>
      <%end%>
  <%end%>

  </ul>
  <%= render 'layouts/header' %>
  <% if current_user %>
    <div><img src="<%=current_user.image%>", class="circle"/></div>
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
